.header-content {
    top:30% !important;
}

#homeHeading {
    background-color: #C50073;
    margin-bottom: 10px;
}

.bg-erika {
    background-color: #C50073 !important;
}

.portfolio-box-caption {
    background: rgba(197,0,115,0.9) !important;
}
